
<!--jmespath.search(jsonData.responseJSON, "entries[?year > '1923']") 
jmespath.search(jsonData.responseJSON, "entries[?contains(title, 'f') == `true`]")

these are functional jmespath queries 

document.querySelectorAll('[data-columns-sortby="id"]')[0]
$("tr td:nth-child(18)")
-->

<html>
<head>
	<script src="assets/db/jquery.min.js"></script>
	<script src="assets/db/js/jquery.columns.min.js"></script>
	<script src="assets/db/jmespath.js"></script>
	<link rel="stylesheet" href="assets/db/css/clean.css">
	<style>

	</style>
</head>
<body>
	<div id="columns"></div>
	<script>

		function jsonSearch(){
			var select = document.getElementById("search-box")
			var div_length = select.getElementsByTagName('div').length;
			var query = ''
			query += "@[?"
			for (let i = 1; i <= div_length; i++){
				var search_bar_id = "search-bar-" + i
				var field_id = "field-" + i
				var search_type_id = "search-type-" + i

				var content = document.getElementById(search_bar_id).value
				var field = document.getElementById(field_id).value
				var searchtype = document.getElementById(search_type_id).value


				/*jmespath.search(jsonData.responseJSON, "entries[?contains(title, 'Yidn') == `true` && year == `1923`]")
				jmespath.search(jsonData.responseJSON, "entries[?contains(title, 'Yidn') == `true` && contains(title, 'in') == `true`]")*/

				if (i != 1){
					query += "&&"
				}

				if (searchtype == 'contains'){
					query += "contains(" + field +", '" + content + "') == `true`"
				}
				if (searchtype == 'not-contain'){
					query += " !contains(" + field +", '" + content + "') == `true`"
				}
				else if (searchtype == 'equals'){
					query +=  field + "==`" + content + "`"
				}
				else if (searchtype == 'greater'){
					query += field + ">`" + content + "`"
				}
				else if (searchtype == 'less'){
					query += field + "<`" + content + "`"
				}

			}

			query += "]"
			console.log(query)
			var search_json = jmespath.search(jsonData.responseJSON, query)
			if(search_json.length == 0){
				search_json = [{}]
			}
			if(document.getElementById('columns').innerHTML != ''){
				$('#columns').columns('destroy');
			}



			drawTable(search_json);
		}

		var jsonData = $.getJSON("./assets/db/working.json", function(data) {
			var json = jsonData.responseJSON
			for (entry in jsonData.responseJSON){
			    id = jsonData.responseJSON[entry]['id'];
			    title = jsonData.responseJSON[entry]['title'];

			    id_link = '<a href=/entries/' + id + '>' + id + '</a>';
			    title_link = '<a href=/entries/' + id + '>' + title + '</a>';

			    jsonData.responseJSON[entry]['id'] = id_link;
			    jsonData.responseJSON[entry]['title'] = title_link;
			}
			drawTable(json)

		});


		
		function drawTable(json_array){
			$(document).ready(function() {
				$('#columns').columns({data:json_array});
			});
		}

		function idsToLinks(){
			for (let i = 0; i < $("tr th").length; i++){
				if ($("tr th")[i].innerText == 'id'){
					i = i + 1;
					var columnQuery = "tr td:nth-child(" + i + ")"

				}
			}
			console.log(columnQuery)
			for (let i = 0; i < $(columnQuery).length; i++){
				$(columnQuery)[i].innerHTML = '<a href=/entries/' + $(columnQuery)[i].innerHTML + '>' + $(columnQuery)[i].innerHTML + "</a>";

			}
		}


	</script>
</body>
</html>