<html>
<head>
  <style>
    h2 {
      color:white;
    }
  #nav_item{
    position: absolute;
    background-image: url("assets/images/map.png");
    width: 50%;
    height: 30%;
    color: white;
  }
  #dummy
    { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
  }
  .centered {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
  </style>
</head>
<body>
  <div id="nav_item">
    <a href="https://sreyfe.github.io/mapping_yiddish_publishing/">
    <span id="dummy">
    <div class="centered"><h2>Mapping Yiddish Publishing</h2></div>
    </span>